
@mixin radius {
  border-radius: 3px 3px 3px 3px;
}
@mixin shadow {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(2, 3, 3, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(2, 3, 3, 1);
  box-shadow: 0px 2px 2px 0px rgba(2, 3, 3, 0.12);
}
@mixin hover {
   img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    }
    @-webkit-keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
}
